NODE_ENV=development
PORT=5000
CLIENT_URL=https://esg-amber.vercel.app
VITE_API_URL=https://esg-7uft.onrender.com/api
MONGODB_URI=mongodb+srv://mithleshsaini_db_user:mithleshsaini_db_user@cluster0.orts1zc.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=8aMe+Pq+e81QTHPaN91P7dPbsIrrizQbK605bUgRy2Q=
JWT_REFRESH_SECRET=KPBRWsPYDZwsQKoT/Vf/h625TffJjFDoKGePgZGODEo=
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
UPLOAD_DIR=server/uploads
MAX_FILE_SIZE_MB=10
# SMTP_HOST=
# SMTP_PORT=587
# SMTP_USER=
# SMTP_PASS=
# SMTP_FROM=ESG-NSS <noreply@esg-nss.local>
# //mongodb+srv://mithleshsaini_db_user:<db_password>@cluster0.orts1zc.mongodb.net/?appName=Cluster0
# //mongodb+srv://mithleshsaini_db_user:<db_password>@cluster0.orts1zc.mongodb.net/